

  <footer class="section footer-classic context-dark bg-image bg-dark" style="background: steelblue;">
        <div class="container">
          <div class="row row-30" >
            <div class="col-md-4 col-xl-5" style="margin-top: 10px;">
              <div class="pr-xl-4"><a class="brand"></a>
                <h5>Sobre nosotros</h5>
                <p>Conocé mas a cerca de nosotros haciendo click <a href="">aquí</a>.</p>
                <p>&copy; {{anio}}. Todos los derechos reservados.</p>
                <img src="assets/img/DATAWEB.jpg" height="90px" alt="" style="text-align: center;">
              </div>
            </div>
            <div class="col-md-4" style="margin-top: 10px;">
              <h5>Contácanos</h5>
              <dl class="contact-list">
                <dt><i class="fas fa-map-marker-alt" style="color: seashell;"></i> Direción:</dt>
                <dd>Bv.Chacabuco 600 - Córdoba Capital.</dd>
              </dl>
              <dl class="contact-list">
                <dt><i class="fas fa-at" style="color: seashell;"></i> Email:</dt>
                <dd><a href="mailto:#">info@ecommerce.com</a></dd>
              </dl>
              <dl class="contact-list">
                <dt><i class="fas fa-phone-square-alt" style="color: seashell;"></i> Tel:</dt>
                <dd>+54 351-4521111</dd>
              </dl>
            </div>
            <div class="col-md-4 col-xl-3" style="margin-top: 10px;">
              <h5>¡Síguenos en nuestras redes!</h5>
              <br>
              <a href="https://www.facebook.com/"><i class="fab fa-facebook mr-sm-3 fa-2x" role="button" style="color: seashell;"></i></a>
              <a href="https://www.instagram.com/"><i class="fab fa-instagram mr-sm-3 fa-2x" role="button" style="color: seashell;"></i></a>
            </div>
          </div>
        </div>
      </footer>